* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.mobile-logo {
  display: none;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
  height: 90px;
  width: 75px;
  grid-area: logo;
}

.mobile-logo:hover {
  background-image: url('assets/logo-bg-gif.gif');
}

.mobile-logo img {
  width: 100%;
}

.upper-nav {
  height: 30px;
  background-color: black;
  grid-area: upper-nav;
  padding: 0 10px;
}

.un-list-one li {
  padding: 0 10px;
}

.upper-nav a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 100;
}

.upper-nav a:hover {
  color: white;
}

.un-list-two li {
    padding: 0 10px;   
}

.main-nav {
  height: 60px;
  background-color: white;
  grid-area: main-nav;
  padding: 0 10px;
}

.main-nav li {
 justify-content: space-between;
 padding: 5px;
}

.mn-list li a {
   color: #aaa;
}

.mn-list li a:hover {
  color: black;
}

.conf-time {
  padding-left: 10px;
  border-left: 1px solid #aaa;
}

.conf-time img {
  width: 50%;
}

.conf-time button {
  padding: 8px 10px;
  background-color: skyblue;
  font-size: 11px;
  font-weight: 100;
  color: white;
  border: 0;
  border-radius: 4px;
}

.conf-info {
  height: 25px;
  background-color: yellow;
}

.featured-articles {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  height: 50vh;
  grid-template-areas: 
  'fa-main fa-small-1'
  'fa-main fa-small-2'
  ;
  grid-gap: 10px;
  padding: 3px;
}

.fa-main {
  grid-area: fa-main;
  background-color: skyblue;
  width: 100%;
}

.fa-small-1 {
  grid-area: fa-small-1;
  background-color: slateblue;
}

.fa-small-2 {
  grid-area: fa-small-2;
  background-color: springgreen;
}

.latest-news {
  margin-top: 40px;
  margin-bottom: 50px;
  height: 40vh;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.news-item {
  background-color: tomato;
}

.fund-round {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  height: 20vh;
  padding: 0 40px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.fund-item {
  display: flex;
  flex-direction: column;
}

.fund-title {
  background-color: orangered;
}

.fund-amount {
  background-color: palegoldenrod;
}

.fund-info {
  background-color: lightgoldenrodyellow;
}
.categories-section {
  margin-top: 110px;
  grid-template-columns: repeat(3, 1fr);
  height: 40vh;
  grid-gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.cat-item {
  background-color: coral;
  height: 40vh;
}
.latest-deals {
  margin-top: 700px;
  
}
.footer-links {
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .latest-news {
    grid-template-columns: repeat(3, 1fr);
  } 
  .categories-section {
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (max-width: 786px) {
  .mobile-nav-grid {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-areas: 
    'logo upper-nav'
    'logo main-nav';
  }
  .mobile-logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
  }

  .latest-news {
    grid-template-columns: 1fr;
  }
  .categories-section {
     margin-top:270px ;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 770px) {
  .featured-articles {
    grid-template-areas: 
    'fa-main'
    'fa-small-1'
    'fa-small-2';
    grid-template-columns: 1fr;
  }
}
